.n{
    background-color: rgba(128, 128, 128, 0.884);
    background-color: rgb(228, 245, 180);
    background-color: rgba(128, 128, 128, 0.644);
    background-color: rgba(165, 173, 180, 0.842);
    background-color: rgba(179, 174, 168, 0.295);
    background-color: rgba(149, 157, 163, 0.205);
    background-color: rgba(183, 234, 243, 0.63);
    background-color: rgba(159, 184, 231, 0.63)
}