.jk{
    background-color: rgba(8, 3, 3, 0.582);
    background-color: rgba(245, 245, 245, 0.938);
    background-color: rgba(243, 241, 227, 0.658);
    background-color: rgba(248, 198, 241, 0.651);
    background-color: rgba(8, 3, 3, 0.911);
    background-color: rgba(245, 234, 221, 0.906);
}